includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src
    tmpDir: .phpstan.cache
    ignoreErrors:
        -
            message: '#NdjsonAccessor::parse\(\) should return array<string, mixed> but returns#'
            path: src/Accessors/Formats/NdjsonAccessor.php
            reportUnmatched: true
